*{
   box-sizing: border-box;
}
header,footer{
   height: 100px;
   border: 3px solid saddlebrown;
   clear: both;
}
.hi{
   height: 140px;
   width: 20%;
   border: 3px solid black;
   float: left;
}
section{
   height: 140px;
   width: 40%;
   border: 3px solid black;
   float: left;
}