body {
   background-color:#74a8c5;
   color: white;
   border: 10px solid green;
   margin: 50px;
}
.portfolio{
   color: green;
   text-decoration: underline;
   cursor: pointer;
}
img { 
   max-width: 10%;
   max-width: 10%;
   float: right;
}

.footer{
   text-align: center;
   width: 100%;
   margin: 0 auto;
}